# Python cache files
__pycache__/

# Temporary files
cancel_transfer_TEMP.py
test.py

# Documentation not relevant
documentation/Ideas.txt
documentation/Objectives.txt

# VS-Code Workspace
CrayonEaters_Tactical-CiscoIOS-Updater.code-workspace

# Avoid ignoring IOS Image repository and subfolders, but we will ignore image files
ios_repository/C8KV/*
!ios_repository/C8KV/.gitignore

ios_repository/C9200/*
!ios_repository/C9200/.gitignore

ios_repository/PacStar444/*
!ios_repository/PacStar444/.gitignore

ios_repository/PacStar447/*
!ios_repository/PacStar447/.gitignore